.header {
    display: flex;
    flex-direction: row;
    background-color: #8847b8;
    background: linear-gradient(135deg, #2a064f, #8847b8, #2a064f);
    /* background: linear-gradient(120deg, #000000, #8847b8, #2d0638); */

    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    /* justify-content:space-between; */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-shrink: 0;
}

.bot_name {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #00CFFF, #b16ef5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    
}

.logo {
    object-fit: cover;
    display: flex;
    align-items: center;
    margin-left: 7px;
    border-radius: 10px;
}